<h2>Edit ebay api key</h2>

<%= render "form.html", changeset: @changeset,
                        action: ebay_api_key_path(@conn, :update, @ebay_api_key) %>

<%= link "Back", to: ebay_api_key_path(@conn, :index) %>
