{overlay,[{mkdir,"releases/1.2.3-567-gb962e65"},
          {copy,"./sys.config","releases/1.2.3-567-gb962e65/sys.config"},
          {copy,"./boot_shim","bin/apientry"},
          {copy,"./boot_shim.bat","bin/apientry.bat"},
          {copy,"./boot","releases/1.2.3-567-gb962e65/apientry.sh"},
          {copy,"./boot.bat","releases/1.2.3-567-gb962e65/apientry.bat"},
          {copy,"/Users/ken/Code/apientry/rel/.files/vm.args",
                "releases/1.2.3-567-gb962e65/vm.args"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/.compile.protocols",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/.compile.protocols"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Calendar.ContainsDate.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Calendar.ContainsDate.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Calendar.ContainsDateTime.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Calendar.ContainsDateTime.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Calendar.ContainsNaiveDateTime.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Calendar.ContainsNaiveDateTime.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Calendar.ContainsTime.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Calendar.ContainsTime.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Collectable.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Collectable.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.CSV.Encode.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.CSV.Encode.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.DBConnection.Query.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.DBConnection.Query.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Ecto.DataType.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Ecto.DataType.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Ecto.Queryable.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Ecto.Queryable.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Enumerable.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Enumerable.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.IEx.Info.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Inspect.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Inspect.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.List.Chars.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.List.Chars.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Phoenix.HTML.FormData.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Phoenix.HTML.FormData.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Phoenix.HTML.Safe.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Phoenix.HTML.Safe.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Phoenix.Param.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Phoenix.Param.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Plug.Exception.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Plug.Exception.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Poison.Decoder.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Poison.Decoder.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Poison.Encoder.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Poison.Encoder.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.String.Chars.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.String.Chars.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Timex.Comparable.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Timex.Comparable.beam"},
          {copy,"/Users/ken/Code/apientry/_build/prod/consolidated/Elixir.Timex.Protocol.beam",
                "lib/apientry-1.2.3-567-gb962e65/consolidated/Elixir.Timex.Protocol.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{apientry,"1.2.3-567-gb962e65"},
         [{apientry,"1.2.3-567-gb962e65"},elixir,iex,sasl]}.

{release,{apientry,"1.2.3-287-g6875241"},
         [{apientry,"1.2.3-287-g6875241"},elixir,iex,sasl]}.

{lib_dirs,["/Users/ken/Code/apientry/_build/prod/lib",
           "/Users/ken/Code/apientry/deps",
           "/Users/ken/.kiex/elixirs/elixir-1.4.2/lib/elixir/bin/../lib/eex/ebin",
           "/Users/ken/.kiex/elixirs/elixir-1.4.2/lib/elixir/bin/../lib/elixir/ebin",
           "/Users/ken/.kiex/elixirs/elixir-1.4.2/lib/elixir/bin/../lib/ex_unit/ebin",
           "/Users/ken/.kiex/elixirs/elixir-1.4.2/lib/elixir/bin/../lib/iex/ebin",
           "/Users/ken/.kiex/elixirs/elixir-1.4.2/lib/elixir/bin/../lib/logger/ebin",
           "/Users/ken/.kiex/elixirs/elixir-1.4.2/lib/elixir/bin/../lib/mix/ebin"]}.

