[{sasl,[{errlog_type,error}]},
 {phoenix,
     [{generators,[{migration,true},{binary_id,false}]},
      {template_engines,
          [{slim,'Elixir.PhoenixSlime.Engine'},
           {slime,'Elixir.PhoenixSlime.Engine'}]}]},
 {geolix,
     [{databases,
          [{country,
               <<"/Users/ken/Code/apientry/vendor/mmdb/GeoLite2-Country.mmdb">>}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {rollbax,
     [{access_token,<<"fcbe67e9abd04a69b3581fd26062c928">>},
      {environment,<<"sandbox">>}]},
 {apientry,
     [{ecto_repos,['Elixir.Apientry.Repo']},
      {amplitude,
          [{url,<<"https://api.amplitude.com/httpapi">>},
           {app_id,<<"151574">>},
           {api_key,<<"13368ee3449b1b5bffa9b7253b232e9e">>},
           {secret_key,<<"a978ce4186ee60c202079ef56274222e">>}]},
      {'Elixir.Apientry.Endpoint',
          [{render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Apientry.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"sandbox.apientry.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {root,<<".">>},
           {server,true},
           {secret_key_base,nil}]},
      {'Elixir.Apientry.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {url,nil},
           {pool_size,10},
           {ssl,true}]},
      {db_cache,[{interval,30000}]},
      {events,[{url,<<"https://events.apientry.com">>}]},
      {ebay_search_domain,<<"http://sandbox.api.ebaycommercenetwork.com">>},
      {rollbar_enabled,true}]}].
