@import '../common';

table.crud-table {
  background: white;
  @include panel-shadow;
  width: 100%;

  > thead {
    border-bottom: solid 1px $gray-lighter;
  }

  > thead > tr > th,
  > tbody > tr > th {
    font-weight: normal;
    color: $gray-light;
  }

  > thead > tr > td,
  > tbody > tr > td {
    &:first-child {
      @include font-size(1);
      color: $gray-darker;
    }
  }

  > thead > tr > td,
  > thead > tr > th,
  > tbody > tr > td,
  > tbody > tr > th {
    padding: 16px;
    border-bottom: solid 1px $gray-lighter;

    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      white-space: nowrap;
    }

    > form {
      display: inline;
    }
  }

  > thead > tr:last-child > td,
  > thead > tr:last-child > th,
  > tbody > tr:last-child > td,
  > tbody > tr:last-child > th {
    border-bottom: 0;
  }
}
