@import '../common';

$crumb-height: 64px;

.crumbs-section {
  background: $primary;
}

%crumb-icon {
  display: inline-block;
  background: lighten($primary, 25%);
  color: $primary;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  margin-right: 8px;

  position: relative;
  top: -2px;
}

.crumbs-section {
  margin-bottom: 32px;
}

.crumbs-list {
  & {
    float: left;
  }

  &,
  > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  > li,
  > li > a {
    display: inline-block;
  }

  // Arrow
  > li:not(:last-child)::after {
    @include ion-icon('ios-arrow-right', 16px);
    color: rgba($secondary, .50);
    display: inline-block;
    margin: 0 16px;
  }

  > li:last-child > a {
    color: white;
  }

  > li > a {
    height: $crumb-height;
    line-height: $crumb-height;
    white-space: nowrap;
    @include font-size(1);
    color: $secondary;
  }

  > li > a:focus,
  > li > a:hover {
    text-decoration: none;
  }

  > .-home > a::before {
    @include ion-icon('ios-home', 20px);

    position: relative;
    top: -2px;
  }

  > .-feed > a::before {
    @extend %crumb-icon;
    @include ion-icon('ios-paper', 16px);
  }

  > .-publisher > a::before {
    @extend %crumb-icon;
    @include ion-icon('person', 16px);
  }
}

.crumbs-action {
  float: right;
  line-height: $crumb-height - 4px;
}

.btn-crumbs {
  color: darken($secondary, 25%);
  background: white;
  padding: 4px 20px;
}
