@import '../common';

.form-fieldset {
  & + & {
    border-top: solid 1px $line-color;
    padding-top: 32px;
    margin-top: 16px;
  }

  & {
    @include clearfix;
  }

  > .info {
    width: 33%;
    float: left;
  }

  > .form {
    width: 66%;
    float: right;
  }

  > .info > :first-child {
    margin-top: 0;
  }
}

.form-group.-horiz {
  & {
    @include clearfix;
  }

  > .control-label {
    width: 30%;
    float: left;
    font-weight: normal;
    position: relative;
    top: 6px;
  }

  > .form-control,
  > .checkbox {
    width: 70%;
    float: right;
  }
}

.form-fieldset > .info {
  > h2 {
    @include font-size(2);
  }

  > h3 {
    @include font-size(1);
  }

  > h2,
  > h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: $black;
  }

  > p {
    color: $gray-text;
    @include font-size(-1);
  }
}
/*
 * Ugh
 */

.checkbox > .hint {
  margin-left: 1em;
  color: $gray-text;
  @include font-size(-1);
}
