/*
 * Bootstrap
 * https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
 */

$font-family-sans-serif: 'source sans pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.6;
$headings-font-weight: 400;

$grid-gutter-width: 16px;

$inset-bg: #f6f8fa;
$body-bg: #fff;

/*
 * Colors
 */

$accent: #607D8B;
$dark-accent: darken($accent, 13%);
$light-accent: lighten($accent, 13%);

$primary: #3F51B5;
$dark-primary: darken($primary, 13%);
$light-primary: lighten($primary, 13%);

$secondary: #448AFF;
$dark-secondary: darken($secondary, 13%);
$light-secondary: lighten($secondary, 13%);

$accent-2: #536DFE;

$gray-darker: #111;     // extra-dark text
$gray-dark: #30404a;    // $text-color
$gray-light: #708090;   // grey text
$gray-lighter: lighten($gray-light, 25%);
$panel-border: mix($primary, white, 8%);

$brand-primary: $primary;

/*
 * Modularscale-sass
 */

$ms-base: $font-size-base;
$ms-ratio: 1.2;
$ms-fluid: false;
$ms-range:
  1.1   20em,
  1.15  60em;
