@import './common';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootstrap-orion/assets/stylesheets/base';
@import 'bootstrap-orion/assets/stylesheets/components';

html, body {
  height: 100%;
}

.home-page-placeholder {
  padding: 64px 0;
  text-align: center;
  color: $primary-lighter;
  cursor: default;

  &:before {
    @include ion-icon('stats-bars');
    @include font-size(16);
  }
}

.help-block.-error {
  & {
    color: $brand-danger;
    @include font-size(-1);
  }

  &::before {
    @include ion-icon('android-alert', 16px);
    margin-right: 8px;
    position: relative;
    top: -1px;
  }
}
