<h2>Edit publisher api key</h2>

<%= render "form.html", changeset: @changeset,
                        action: publisher_api_key_path(@conn, :update, @publisher_api_key) %>

<%= link "Back", to: publisher_api_key_path(@conn, :index) %>
