= render Apientry.SharedView, "nav.html", conn: @conn, crumbs: [feeds: true], title: [title: "Feeds", subtitle: "Add new"]

.container
  = render "form.html", changeset: @changeset, action: feed_path(@conn, :create), mode: :create

  = link "Back", to: feed_path(@conn, :index)
