<h2>New blacklist</h2>

<%= render "form.html", changeset: @changeset,
                        subids: @subids,
                        action: blacklist_path(@conn, :create) %>

<%= link "Back", to: blacklist_path(@conn, :index) %>
